@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#spin {
  
}
#spin:after {
  content:"";
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% { content: "JUIDCO"; }
  12% {content:"Jharkhand Urban Infrastructure Development Company"; }
  /* 40% {content:"engineering"; }
  60% {content:"crypto"; }
  80% {content:"consulting"; }
  100% {content:"business"; } */
}